In [ ]:
!pip install pandas matplotlib chardet

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (3.7.1)
Requirement already satisfied: chardet in /usr/local/lib/python3.10/dist-packages (5.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (4.53.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (3.1.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import chardet

In [ ]:
def detect_encoding(file_path):
    with open(file_path, 'rb') as f:
        result = chardet.detect(f.read(10000))
    return result['encoding']

files = ['ft_balance_f.csv', 'ft_posting_f.csv', 'md_account_d.csv', 'md_currency_d.csv', 'md_exchange_rate_d.csv', 'md_ledger_account_s.csv']
encodings = {file: detect_encoding(file) for file in files}
print(encodings)

{'ft_balance_f.csv': 'ascii', 'ft_posting_f.csv': 'ascii', 'md_account_d.csv': 'utf-8', 'md_currency_d.csv': 'Windows-1252', 'md_exchange_rate_d.csv': 'ascii', 'md_ledger_account_s.csv': 'utf-8'}

In [ ]:
ft_balance_f = pd.read_csv('ft_balance_f.csv', sep=';', parse_dates=['ON_DATE'], dayfirst=True, encoding=encodings['ft_balance_f.csv'])
ft_posting_f = pd.read_csv('ft_posting_f.csv', sep=';', parse_dates=['OPER_DATE'], dayfirst=True, encoding=encodings['ft_posting_f.csv'])
md_account_d = pd.read_csv('md_account_d.csv', sep=';', parse_dates=['DATA_ACTUAL_DATE', 'DATA_ACTUAL_END_DATE'], encoding=encodings['md_account_d.csv'])
md_currency_d = pd.read_csv('md_currency_d.csv', sep=';', parse_dates=['DATA_ACTUAL_DATE', 'DATA_ACTUAL_END_DATE'], encoding=encodings['md_currency_d.csv'])
md_exchange_rate_d = pd.read_csv('md_exchange_rate_d.csv', sep=';', parse_dates=['DATA_ACTUAL_DATE', 'DATA_ACTUAL_END_DATE'], encoding=encodings['md_exchange_rate_d.csv'])
md_ledger_account_s = pd.read_csv('md_ledger_account_s.csv', sep=';', parse_dates=['START_DATE', 'END_DATE'], encoding=encodings['md_ledger_account_s.csv'])

In [ ]:
print(ft_balance_f.head())

     ON_DATE  ACCOUNT_RK  CURRENCY_RK  BALANCE_OUT
0 2017-12-31    36237725           35     38318.13
1 2017-12-31       24656           35     80533.62
2 2017-12-31    18849846           34     63891.96
3 2017-12-31     1972647           34   5087732.10
4 2017-12-31    34157174           34   7097806.90

In [ ]:
print(ft_posting_f.head())

   OPER_DATE  CREDIT_ACCOUNT_RK  DEBET_ACCOUNT_RK  CREDIT_AMOUNT  DEBET_AMOUNT
0 2018-01-09              13630             17436       94333.93      18337.76
1 2018-01-09           15698716             13630       68294.14      31542.06
2 2018-01-09           12048338             13630        2192.96      98734.33
3 2018-01-09          393808409             17244       44179.86      98544.65
4 2018-01-09          409685020             13630       18843.05        889.74

In [ ]:
print(md_account_d.head())

  DATA_ACTUAL_DATE DATA_ACTUAL_END_DATE  ACCOUNT_RK        ACCOUNT_NUMBER  \
0       2018-01-01           2018-01-31    36237725  30425840700000583001
1       2018-01-01           2018-01-31       24656  30114840700000770002
2       2018-01-01           2018-01-31    18849846  30109810500000435003
3       2018-01-01           2018-01-31     1972647  30111810700000908001
4       2018-01-01           2018-01-31    34157174  30424810100000583001

  CHAR_TYPE  CURRENCY_RK  CURRENCY_CODE
0         А           35            840
1         А           35            840
2         П           34            643
3         П           34            643
4         А           34            643

In [ ]:
print(md_currency_d.head())

   CURRENCY_RK DATA_ACTUAL_DATE DATA_ACTUAL_END_DATE  CURRENCY_CODE  \
0      4586704       2011-09-06           2050-12-31            0.0
1           50       2017-05-11           2050-12-31          356.0
2           51       2017-05-11           2050-12-31          484.0
3           52       2017-05-11           2050-12-31          434.0
4           53       2017-05-11           2050-12-31          422.0

  CODE_ISO_CHAR
0           NON
1           INR
2           MXN
3           LYD
4           LBR

In [ ]:
print(md_exchange_rate_d.head())

  DATA_ACTUAL_DATE DATA_ACTUAL_END_DATE  CURRENCY_RK  REDUCED_COURCE  \
0       2016-07-01           2050-12-31           38        31.88840
1       2018-01-31           2018-01-31    427870281        28.37980
2       2018-01-31           2018-01-31           29         7.11613
3       2018-01-31           2018-01-31    529511970        33.05430
4       2018-01-31           2018-01-31           62         8.87555

   CODE_ISO_NUM
0           974
1           933
2           752
3           944
4           156

In [ ]:
print(md_ledger_account_s.head())

  CHAPTER      CHAPTER_NAME  SECTION_NUMBER            SECTION_NAME  \
0       А  Балансовые счета               3  МЕЖБАНКОВСКИЕ ОПЕРАЦИИ
1       А  Балансовые счета               3  МЕЖБАНКОВСКИЕ ОПЕРАЦИИ
2       А  Балансовые счета               3  МЕЖБАНКОВСКИЕ ОПЕРАЦИИ
3       А  Балансовые счета               3  МЕЖБАНКОВСКИЕ ОПЕРАЦИИ
4       А  Балансовые счета               3  МЕЖБАНКОВСКИЕ ОПЕРАЦИИ

         SUBSECTION_NAME  LEDGER1_ACCOUNT  \
0  МЕЖБАНКОВСКИЕ РАСЧЕТЫ              302
1  МЕЖБАНКОВСКИЕ РАСЧЕТЫ              301
2  МЕЖБАНКОВСКИЕ РАСЧЕТЫ              301
3  МЕЖБАНКОВСКИЕ РАСЧЕТЫ              301
4  МЕЖБАНКОВСКИЕ РАСЧЕТЫ              301

                              LEDGER1_ACCOUNT_NAME  LEDGER_ACCOUNT  \
0  Счета кредитных организаций по другим операциям           30204
1                          Корреспондентские счета           30109
2                          Корреспондентские счета           30110
3                          Корреспондентские счета           30111
4                          Корреспондентские счета           30126

                                 LEDGER_ACCOUNT_NAME CHARACTERISTIC  \
0  Обязательные резервы кредитных организаций по ...              А
1  Корреспондентские счета кредитных организаций ...              П
2  Корреспондентские счета в кредитных организаци...              А
3       Корреспондентские счета банков- нерезидентов              П
4                        Резервы на возможные потери              П

  START_DATE   END_DATE
0 2014-01-01 2050-12-31
1 2008-01-01 2050-12-31
2 2008-01-01 2050-12-31
3 2008-01-01 2050-12-31
4 2008-01-01 2050-12-31

In [ ]:
print(ft_balance_f.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114 entries, 0 to 113
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ON_DATE      114 non-null    datetime64[ns]
 1   ACCOUNT_RK   114 non-null    int64
 2   CURRENCY_RK  114 non-null    int64
 3   BALANCE_OUT  114 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 3.7 KB
None

In [ ]:
print(ft_posting_f.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33892 entries, 0 to 33891
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   OPER_DATE          33892 non-null  datetime64[ns]
 1   CREDIT_ACCOUNT_RK  33892 non-null  int64
 2   DEBET_ACCOUNT_RK   33892 non-null  int64
 3   CREDIT_AMOUNT      33892 non-null  float64
 4   DEBET_AMOUNT       33892 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(2)
memory usage: 1.3 MB
None

In [ ]:
print(md_account_d.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DATA_ACTUAL_DATE      112 non-null    datetime64[ns]
 1   DATA_ACTUAL_END_DATE  112 non-null    datetime64[ns]
 2   ACCOUNT_RK            112 non-null    int64
 3   ACCOUNT_NUMBER        112 non-null    object
 4   CHAR_TYPE             112 non-null    object
 5   CURRENCY_RK           112 non-null    int64
 6   CURRENCY_CODE         112 non-null    int64
dtypes: datetime64[ns](2), int64(3), object(2)
memory usage: 6.2+ KB
None

In [ ]:
print(md_currency_d.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CURRENCY_RK           50 non-null     int64
 1   DATA_ACTUAL_DATE      50 non-null     datetime64[ns]
 2   DATA_ACTUAL_END_DATE  50 non-null     datetime64[ns]
 3   CURRENCY_CODE         49 non-null     float64
 4   CODE_ISO_CHAR         49 non-null     object
dtypes: datetime64[ns](2), float64(1), int64(1), object(1)
memory usage: 2.1+ KB
None

In [ ]:
print(md_exchange_rate_d.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DATA_ACTUAL_DATE      892 non-null    datetime64[ns]
 1   DATA_ACTUAL_END_DATE  892 non-null    datetime64[ns]
 2   CURRENCY_RK           892 non-null    int64
 3   REDUCED_COURCE        892 non-null    float64
 4   CODE_ISO_NUM          892 non-null    int64
dtypes: datetime64[ns](2), float64(1), int64(2)
memory usage: 35.0 KB
None

In [ ]:
print(md_ledger_account_s.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CHAPTER               18 non-null     object
 1   CHAPTER_NAME          18 non-null     object
 2   SECTION_NUMBER        18 non-null     int64
 3   SECTION_NAME          18 non-null     object
 4   SUBSECTION_NAME       18 non-null     object
 5   LEDGER1_ACCOUNT       18 non-null     int64
 6   LEDGER1_ACCOUNT_NAME  18 non-null     object
 7   LEDGER_ACCOUNT        18 non-null     int64
 8   LEDGER_ACCOUNT_NAME   18 non-null     object
 9   CHARACTERISTIC        18 non-null     object
 10  START_DATE            18 non-null     datetime64[ns]
 11  END_DATE              18 non-null     datetime64[ns]
dtypes: datetime64[ns](2), int64(3), object(7)
memory usage: 1.8+ KB
None

In [ ]:
print(ft_balance_f.describe())

                   ON_DATE    ACCOUNT_RK  CURRENCY_RK   BALANCE_OUT
count                  114  1.140000e+02   114.000000  1.140000e+02
mean   2017-12-31 00:00:00  4.478900e+07    35.578947  3.337505e+06
min    2017-12-31 00:00:00  1.356000e+04    21.000000  3.237100e+02
25%    2017-12-31 00:00:00  1.413725e+04    34.000000  3.409193e+04
50%    2017-12-31 00:00:00  2.306350e+04    34.000000  6.474272e+04
75%    2017-12-31 00:00:00  3.415678e+07    35.000000  1.472308e+05
max    2017-12-31 00:00:00  4.062758e+08    62.000000  2.000797e+08
std                    NaN  9.721176e+07     5.673872  1.948011e+07

In [ ]:
print(ft_posting_f.describe())

                           OPER_DATE  CREDIT_ACCOUNT_RK  DEBET_ACCOUNT_RK  \
count                          33892       3.389200e+04      3.389200e+04
mean   2018-01-19 06:37:13.164168448       7.188949e+07      7.215462e+07
min              2018-01-09 00:00:00       1.356000e+04      1.355200e+04
25%              2018-01-12 00:00:00       1.363000e+04      1.363000e+04
50%              2018-01-18 00:00:00       1.450700e+04      1.743600e+04
75%              2018-01-25 00:00:00       1.000616e+07      8.736635e+06
max              2018-01-31 00:00:00       5.301008e+08      5.301010e+08
std                              NaN       1.511987e+08      1.527140e+08

       CREDIT_AMOUNT  DEBET_AMOUNT
count   33892.000000  33892.000000
mean    50156.993222  49760.014700
min        14.290000     14.590000
25%     25299.647500  24807.797500
50%     50261.790000  49500.750000
75%     75057.550000  74736.822500
max     99999.430000  99999.820000
std     28825.410347  28826.978202

In [ ]:
print(md_account_d.describe())

          DATA_ACTUAL_DATE DATA_ACTUAL_END_DATE    ACCOUNT_RK  CURRENCY_RK  \
count                  112                  112  1.120000e+02   112.000000
mean   2018-01-01 00:00:00  2018-01-31 00:00:00  4.502355e+07    35.607143
min    2018-01-01 00:00:00  2018-01-31 00:00:00  1.356000e+04    21.000000
25%    2018-01-01 00:00:00  2018-01-31 00:00:00  1.413675e+04    34.000000
50%    2018-01-01 00:00:00  2018-01-31 00:00:00  2.218450e+04    34.000000
75%    2018-01-01 00:00:00  2018-01-31 00:00:00  3.415681e+07    35.000000
max    2018-01-01 00:00:00  2018-01-31 00:00:00  4.062758e+08    62.000000
std                    NaN                  NaN  9.806749e+07     5.720765

       CURRENCY_CODE
count     112.000000
mean      736.062500
min       124.000000
25%       643.000000
50%       756.000000
75%       840.000000
max       985.000000
std       186.131082

In [ ]:
print(md_currency_d.describe())

        CURRENCY_RK     DATA_ACTUAL_DATE DATA_ACTUAL_END_DATE  CURRENCY_CODE
count  5.000000e+01                   50                   50      49.000000
mean   4.624987e+07  2017-04-08 02:52:48  2050-12-31 00:00:00     502.122449
min    2.100000e+01  2011-09-06 00:00:00  2050-12-31 00:00:00       0.000000
25%    3.325000e+01  2017-05-11 00:00:00  2050-12-31 00:00:00     208.000000
50%    4.550000e+01  2017-05-11 00:00:00  2050-12-31 00:00:00     434.000000
75%    5.775000e+01  2017-05-11 00:00:00  2050-12-31 00:00:00     788.000000
max    5.295120e+08  2017-12-12 00:00:00  2050-12-31 00:00:00     999.000000
std    1.347192e+08                  NaN                  NaN     329.114065

In [ ]:
print(md_exchange_rate_d.describe())

                    DATA_ACTUAL_DATE           DATA_ACTUAL_END_DATE  \
count                            892                            892
mean   2018-01-12 10:21:31.479820800  2018-01-30 10:23:08.340806912
min              2016-07-01 00:00:00            2018-01-09 00:00:00
25%              2017-12-30 00:00:00            2018-01-09 00:00:00
50%              2018-01-13 00:00:00            2018-01-15 00:00:00
75%              2018-01-23 00:00:00            2018-01-23 00:00:00
max              2018-01-31 00:00:00            2050-12-31 00:00:00
std                              NaN                            NaN

        CURRENCY_RK  REDUCED_COURCE  CODE_ISO_NUM
count  8.920000e+02      892.000000    892.000000
mean   8.538216e+07       20.507007    556.838565
min    2.100000e+01        0.052472     36.000000
25%    3.500000e+01        0.901376    208.000000
50%    4.300000e+01        8.836820    417.000000
75%    6.200000e+01       35.225200    944.000000
max    5.295120e+08       79.709700    986.000000
std    1.720455e+08       23.324195    340.539532

In [ ]:
print(md_ledger_account_s.describe())

       SECTION_NUMBER  LEDGER1_ACCOUNT  LEDGER_ACCOUNT           START_DATE  \
count            18.0        18.000000       18.000000                   18
mean              3.0       302.000000    30218.166667  2010-08-11 22:40:00
min               3.0       301.000000    30102.000000  2008-01-01 00:00:00
25%               3.0       301.000000    30117.000000  2008-01-01 00:00:00
50%               3.0       302.000000    30220.500000  2008-01-01 00:00:00
75%               3.0       302.000000    30232.750000  2013-10-01 18:00:00
max               3.0       304.000000    30425.000000  2016-01-01 00:00:00
std               0.0         1.028992      106.354153                  NaN

                  END_DATE
count                   18
mean   2050-12-31 00:00:00
min    2050-12-31 00:00:00
25%    2050-12-31 00:00:00
50%    2050-12-31 00:00:00
75%    2050-12-31 00:00:00
max    2050-12-31 00:00:00
std                    NaN

In [ ]:
print(f"ft_balance_f: {len(ft_balance_f)}")
print(f"ft_posting_f: {len(ft_posting_f)}")
print(f"md_account_d: {len(md_account_d)}")
print(f"md_currency_d: {len(md_currency_d)}")
print(f"md_exchange_rate_d: {len(md_exchange_rate_d)}")
print(f"md_ledger_account_s: {len(md_ledger_account_s)}")

ft_balance_f: 114
ft_posting_f: 33892
md_account_d: 112
md_currency_d: 50
md_exchange_rate_d: 892
md_ledger_account_s: 18

In [8]:
import csv

def count_unique_lines(file_path):
    unique_lines = set()

    with open(file_path, mode='r', encoding='utf-8') as file:
        reader = csv.reader(file)
        next(reader)
        for row in reader:
            unique_lines.add(tuple(row))

    return len(unique_lines)

In [9]:
count = count_unique_lines('md_exchange_rate_d.csv')
print(f"Number of unique lines: {count}")

Number of unique lines: 460